*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --font-family: var(--font-family) /* colors */;
  /* colors */
  /* текста */
  --color-text-primary: #000000; /* основной текст — черный */
  --color-text-secondary: rgba(0,0,0,0.6
  ); /* вторичный текст — черный с прозрачностью 60% */
  --color-text-inverse: #ffffff; /* текст на темном фоне — белый */
  /* Фоны */
  --color-bg-white: #ffffff; /* чистый белый фон */
  --color-bg-light: #f2f0f1; /* светлый фон для секций */
  --color-bg-card: #f0eeed; /* фон для картинок / карточек */
  --color-bg-dark: #000000;
  --color-text-muted-40: rgba(0, 0, 0, 0.4);
  --color-text-muted-60: rgba(0, 0, 0, 0.6);

  /* 🧩 Семантические цвета (по ролям) */
}
/* =========================
   Reset 
========================= */
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Satoshi Variable — (normal) */
@font-face {
  font-family: "Satoshi";
  src:
    url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

/* Satoshi Variable — (italic) */
@font-face {
  font-family: "Satoshi";
  src:
    url("./fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("./fonts/Satoshi-VariableItalic.woff") format("woff");
  font-weight: 300 900;
  font-display: swap;
}
/* Integral CF Variable — normal style */
@font-face {
  font-family: "Integral CF";
  src:
    url("./fonts/IntegralCF-Variable.woff2") format("woff2"),
    url("./fonts/IntegralCF-Variable.woff") format("woff");
  font-weight: 100 900; /* диапазон весов, зависит от файла */
  font-style: normal; /* только нормальный стиль */
  font-display: swap;
}
/* =========================
   base styles
========================= */
body {
  font-family: "Satoshi", sans-serif;
  /* font-family: 'Integral CF', sans-serif; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
  background-color: var(--color-bg-white);
}
/* =========================
   Layout
========================= */
.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 10px;
  max-width: 1240px;
}
.root.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
/* =========================
   Utilities
========================= */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
/* =========================
   Components
========================= */
.top-banner {
  background: var(--color-bg-dark);
  width: 100%;
  overflow: hidden;
  color: #ffffff;
  font-size: clamp(12px, 1.2vw, 14px);
  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
}

.top-banner .top-banner__inner {
  position: relative;
  text-align: center;
  padding-block: 0.625em;
}
.top-banner__text {
  word-wrap: break-word;
}
.top-banner__close {
  display: none;
  font-size: inherit;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.2em;
  color: var(--color-text-primary);
}
.top-banner__text a {
  text-decoration: underline;
  font-weight: 500;
}
/* header */
.header {
  position: sticky;
  background: var(--color-bg-light);
  margin-block: 1.5em;
}
.header__inner {
  display: flex;
  align-items: center;
  gap:0.75rem;
}
.header__menu{
  gap: 16px
}
.logo {
  display: block;
  color: var(--color-text-primary);
  height: 18px;
  width: clamp(126px, 12vw, 160px);
}
.main-logo {
  width: 100%;
  height: 100%;
  display: block;
}
.menu__btn {
  position: relative;
  z-index: 1;
  width: 19px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__btn span {
  background-color: var(--color-bg-dark);
  height: 2px;
  width: 100%;
}
.header__nav {
  display: none;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.search {
  color: var(--color-text-primary);
  padding-block: 0.75rem;
  margin-left: auto;
}
.search__button {
  font-size: 1.25rem;
}
.icon-size {
  cursor: pointer;
}
.icon-size svg {
  font-size: inherit;
  width: 1.5rem;
  height: 1.5rem;
}
.search__field {
  display: none;
  border: none;
  background: var(--color-bg-light);
  padding-left: 0.875rem;
}
.search {
  color: var(--color-text-primary);
}
/* .search-field input{
  width: 100%;
} */
.search input:focus {
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .top-banner__close {
    display: block;
  }
  /* класс для скрытия баннера */
  .top-banner--hidden {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    height: 0;
    transition-delay: 0.1s;
  }
  .top-banner__text a:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 2px;
  }
  .search {
    flex-grow: 0;
    margin-left: auto;
    color: var(--color-text-muted-40);
  }
}
@media (min-width: 1240px) {
  .container {
    padding: 0;
    width: 1240px;
    margin: 0 auto;
  }
  .top-banner__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* header */
  .logo {
    display: block;
    height: 22px;
  }

  .header__inner {
    gap: 2.5rem;
  }
   .header__menu{
    gap: 2.5rem;
  }
  .menu__btn {
    display: none;
  }
 
  .header__nav {
    display: block;
  }
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: var(--color-bg-dark);
  }

  .search {
    display: flex;
    flex-grow: 1;
    margin-left: 0;
  }
  .search__field {
    display: block;
    font-size: 1em;
  }
  .search__button {
    color: inherit;
  }
}
